
Name: K.Bharath Vardhan  Reg.No: 21BCE5846

In [ ]:
import pandas as pa
import numpy as nu

l={'Name':['Hanu','Hrishikesh','Sai','Yasodhan','Nidhi','Prabhu','Kiran','Vyas','Aashrith','Vardhan'],
   'RegNo':['21BCE5850','21BCE5851','21BCE5852','21BCE5853','21BCE5854','21BCE5855','21BCE5856','21BCE5857','21BCE5858','21BCE5859'],
   'GPA':[10,5,9,3,6,8,9,7,6,nu.nan],
   'CGPA':[7,6,5,4,8,9,0,1,2,3],
   'Phonenum':['9877610021','9877610022','9877610023','9877610024','9877610025','9877610026','9877610027','9877610028','9877610012','9877610013']}
l

{'Name': ['Hanu',
  'Hrishikesh',
  'Sai',
  'Yasodhan',
  'Nidhi',
  'Prabhu',
  'Kiran',
  'Vyas',
  'Aashrith',
  'Vardhan'],
 'RegNo': ['21BCE5850',
  '21BCE5851',
  '21BCE5852',
  '21BCE5853',
  '21BCE5854',
  '21BCE5855',
  '21BCE5856',
  '21BCE5857',
  '21BCE5858',
  '21BCE5859'],
 'GPA': [10, 5, 9, 3, 6, 8, 9, 7, 6, nan],
 'CGPA': [7, 6, 5, 4, 8, 9, 0, 1, 2, 3],
 'Phonenum': ['9877610021',
  '9877610022',
  '9877610023',
  '9877610024',
  '9877610025',
  '9877610026',
  '9877610027',
  '9877610028',
  '9877610012',
  '9877610013']}

Task - 1: Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features).

In [ ]:
df=pa.DataFrame(l)
df

         Name      RegNo   GPA  CGPA    Phonenum
0        Hanu  21BCE5850  10.0     7  9877610021
1  Hrishikesh  21BCE5851   5.0     6  9877610022
2         Sai  21BCE5852   9.0     5  9877610023
3    Yasodhan  21BCE5853   3.0     4  9877610024
4       Nidhi  21BCE5854   6.0     8  9877610025
5      Prabhu  21BCE5855   8.0     9  9877610026
6       Kiran  21BCE5856   9.0     0  9877610027
7        Vyas  21BCE5857   7.0     1  9877610028
8    Aashrith  21BCE5858   6.0     2  9877610012
9     Vardhan  21BCE5859   NaN     3  9877610013

Task- 2: Check the info of 'df'.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      10 non-null     object
 1   RegNo     10 non-null     object
 2   GPA       9 non-null      float64
 3   CGPA      10 non-null     int64
 4   Phonenum  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

Task-3: Check the descriptive statistics of 'df'.

In [ ]:
df.describe()

             GPA      CGPA
count   9.000000  10.00000
mean    7.000000   4.50000
std     2.236068   3.02765
min     3.000000   0.00000
25%     6.000000   2.25000
50%     7.000000   4.50000
75%     9.000000   6.75000
max    10.000000   9.00000

Task-4: check the 4th index observation with 'loc' slicing operator.

In [ ]:
df.loc[5]

Name            Prabhu
RegNo        21BCE5855
GPA                8.0
CGPA                 9
Phonenum    9877610026
Name: 5, dtype: object

Task-5: Check the null values in your 'df'.

In [ ]:
df.isnull().sum()

Name        0
RegNo       0
GPA         1
CGPA        0
Phonenum    0
dtype: int64